// ======================
// === TEXTO
// ======================

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  text-wrap: nowrap;
}

// ======================
// ==== FIN TEXTO
// ======================
