:host {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.pattern-svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index:-3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 26%);
  pointer-events: none;
  z-index: -4;
}

.content {
  position: relative;
  z-index: -5;
  padding: 2rem;
}

.spotlight-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  text-shadow: inherit;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}
